<!DOCTYPE html>
<html lang="ru">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>{% block title %}Краски стиля{% endblock %}</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="{{ url_for('static', filename='img/favicon.png')}}" rel="icon">
  <link href="{{ url_for('static', filename='img/apple-touch-icon.png')}}" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="{{ url_for('static', filename='vendor/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">
  <link href="{{ url_for('static', filename='vendor/bootstrap-icons/bootstrap-icons.css') }}" rel="stylesheet">
  <link href="{{ url_for('static', filename='vendor/boxicons/css/boxicons.min.css') }}" rel="stylesheet">
  <link href="{{ url_for('static', filename='vendor/glightbox/css/glightbox.min.css') }}" rel="stylesheet">
  <link href="{{ url_for('static', filename='vendor/remixicon/remixicon.css') }}" rel="stylesheet">
  <link href="{{ url_for('static', filename='vendor/swiper/swiper-bundle.min.css') }}" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet">
</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top d-flex align-items-center ">
    <div class="container d-flex align-items-center justify-content-between">
      <div class="logo">
        <h1><a href="index.html">{{ tab }}</a></h1>
      </div>
      <nav id="navbar" class="navbar">
        <ul>
          <li><a class="nav-link scrollto " href="/index">Главная</a></li>
          <li><a class="nav-link scrollto" href="/product">Товары</a></li>
          <li><a class="nav-link scrollto" href="/services">Сервисы</a></li>
          <li><a class="nav-link scrollto" href="/contacts">Контакты</a></li>
          <li>
            {% if 'username' in session %}
                {% if total_price == 0 %}
                    <a class="nav-link scrollto" href="/cart">Корзина: 0 руб.</a>
                {% else %}
                    <a class="nav-link scrollto" href="/cart">Корзина: {{ total_price }} руб.</a>
                {% endif %}
            {% else %}
                <a class="nav-link scrollto" href="/login"></a>
            {% endif %}          </li>
        </ul>

          <i class="bi bi-list mobile-nav-toggle"></i>

      </nav><!-- .navbar -->
    </div>
  </header><!-- End Header -->


    <section id="breadcrumbs" class="breadcrumbs">
        <ol class="container">
        {% if 'username' in session %}
            <p> Пользователь: {{ session["username"] }}!   <a href="/logout/">Выйти</a></p>
        {% else %}
            <p> {{ session["username"] }}Вы не вошли в систему. <a href="/login">Войти</a></p>
        {% endif %}

        </ol>

  <ol>
    <li><a href="/index">{{ title }}</a>{% if category %} / {{ category }}{% endif %}</li>
  </ol>

  {% block content %}Страница находится в разработке{% endblock %}
  <footer id="footer">
      <div class="footer">

          <div class="container footer-bottom clearfix">
              <div style="margin-top: 20px;"></div>

              <div class="social-links">
                <a href="#" class="twitter"><i class="bx bxl-twitter" style="font-size: 24px;"></i></a>
                <a href="#" class="facebook"><i class="bx bxl-facebook" style="font-size: 24px;"></i></a>
                <a href="#" class="instagram"><i class="bx bxl-instagram" style="font-size: 24px;"></i></a>
                <a href="#" class="google-plus"><i class="bx bxl-skype" style="font-size: 24px;"></i></a>
                <a href="#" class="linkedin"><i class="bx bxl-linkedin" style="font-size: 24px;"></i></a>
              </div>

              <div style="margin-top: 10px;"></div>

              <div class="copyright">
                  &copy; Copyright <strong><span>{{ tab }}</span></strong>. All Rights Reserved
              </div>
          </div>
      </div>
  </footer><!-- End Footer-top -->

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="{{ url_for('static', filename='vendor/bootstrap/js/bootstrap.bundle.min.js') }}"></script>
  <script src="{{ url_for('static', filename='vendor/glightbox/js/glightbox.min.js') }}"></script>
  <script src="{{ url_for('static', filename='vendor/isotope-layout/isotope.pkgd.min.js') }}"></script>
  <script src="{{ url_for('static', filename='vendor/swiper/swiper-bundle.min.js') }}"></script>
  <script src="{{ url_for('static', filename='vendor/php-email-form/validate.js') }}"></script>

  <!-- Template Main JS File -->
  <script src="{{ url_for('static', filename='js/main.js') }}"></script>
</body>

</html>
