{% extends 'base.html' %}

{% block content %}

    <!-- ======= Breadcrumbs ======= -->
<div class="container">

    <div class="row justify-content-center">
        <div class="col-lg-10 text-center">
            <h3>Приветствуем в нашем магазине "Краски стиля"!</h3>
        </div>
        <div style="margin-top:10px;"></div>
    </div>

    <div class="row justify-content-center">
        <div class="col-lg-8">
            <div style="text-align: center;">
                <h4>Наши контакты:</h4>
            </div>
            <ul>
                <li><strong>Отдел продаж:</strong> <br> Имя: Анна Иванова <br> Время работы: Пн-Пт, с 9:00 до 18:00 <br> Телефон: +7 (950) 555-22-11 <br> Адрес: ул. Примерная, д. 123, г. Примерный</li>
                <div style="margin-top:20px;"></div>
                <li><strong>Отдел поддержки клиентов:</strong> <br> Имя: Иван Петров <br> Время работы: Пн-Сб, с 10:00 до 20:00 <br> Телефон: +7 (622) 888-99-88 <br> Адрес: ул. Примерова, д. 456, г. Примерный</li>
            </ul>
        </div>
    </div>

</div>

{% endblock %}
