{% extends 'base.html' %}

{% block content %}
    <!-- ======= Breadcrumbs ======= -->
<div class="container">
    <div class="row  justify-content-center">
        <div class="col-lg-10 text-center">

            <div style="margin-top:150px;"></div>

            <h3>Приветствуем в нашем магазине "Краски стиля"!</h3>

            <div style="margin-top: 70px;"></div>

            <p>Добро пожаловать в магазин, где каждая вещь обладает своим собственным характером и историей, где вы можете найти идеальное сочетание между качеством, стилем и доступностью.</p>
            <p>Мы предлагаем широкий ассортимент одежды и обуви для всех возрастов, предпочтений и размеров. Здесь вы найдете всё, что нужно, чтобы создать уникальный образ: от повседневной одежды до вечерних нарядов, от спортивных костюмов до элегантных костюмов для деловых встреч.</p>
            <p>Не упустите возможность обновить свой гардероб с "Красками стиля" – магазином, где мода встречается с качеством, а стиль становится доступным для каждого.</p>
        </div>

    </div>
</div>
{% endblock %}
