{% extends 'base.html' %}

{% block content %}

<div style="margin-top: 100px;"></div>

<div style="text-align: center;">
    <form method="POST" action="{{ url_for('login') }}">
        {{ form.csrf_token }}
        <p>
            {{ form.username.label }}<br>
            {{ form.username(size=32) }}
        </p>
        <p>
            {{ form.password.label }}<br>
            {{ form.password(size=32) }}
        </p>
        <p>
            <input class="hero-container"  type="submit" value="Войти">
        </p>
    </form>
    {% if form.errors %}
        <div class="alert alert-danger">
            <ul>
                {% for field, errors in form.errors.items() %}
                    {% for error in errors %}
                        <li>{{ error }}</li>
                    {% endfor %}
                {% endfor %}
            </ul>
        </div>
        <p>Если вы еще не зарегистрированы, <a href="{{ url_for('register') }}">зарегистрируйтесь здесь</a>.</p>
    {% endif %}
    <p>{{ username }} вы не зарегистрированы? <a href="{{ url_for('register') }}">Зарегистрируйтесь здесь</a>.</p>
</div>

{% endblock %}

