{% extends 'base.html' %}

{% block content %}
<!-- ======= Breadcrumbs ======= -->
<section id="breadcrumbs" class="breadcrumbs">
    <div class="product-cards">
        {% for product in products %}
        <div class="product-card">
            <img class="product-image" src="{{ url_for('static', filename='image/' + product['image']) }}" alt="{{ product['name'] }}">
            <h3>{{ product['name'] }}</h3>
            <p>{{ product['price'] }} руб.</p>
        </div>
        {% endfor %}
    </div>
</section>
{% endblock %}
