{% extends 'base.html' %}

{% block content %}
    <!-- ======= Breadcrumbs ======= -->
<div class="container">

    <div class="row justify-content-center">
        <div class="col-lg-10 text-center">
            <h3>Приветствуем в нашем магазине "Краски стиля"!</h3>
        </div>
        <div style="margin-top:10px;"></div>

    </div>

    <div class="row justify-content-center">
        <div class="col-lg-8">
            <div style="text-align: center;">
                <h4>Наши сервисы:</h4>
            </div>
            <ul>
                <li><strong>Персональный стилист:</strong> Наши опытные стилисты помогут вам создать идеальный образ, подчеркнуть вашу индивидуальность и выразить ваш стиль.</li>
                <li><strong>Подгонка и ремонт одежды:</strong> Мы предоставляем услуги по подгонке и ремонту одежды, чтобы гарантировать идеальную посадку и длительное использование ваших покупок.</li>
                <li><strong>Онлайн-заказы и доставка:</strong> У нас есть удобная услуга онлайн-заказов и доставки, чтобы вы могли с легкостью получить свои покупки.</li>
                <li><strong>Примерка на дому:</strong> Предоставляем удобную услугу примерки товаров у вас дома, чтобы вы могли выбирать и сравнивать вещи в своей обычной обстановке.</li>
                <li><strong>Консультации по уходу за одеждой и обувью:</strong> Наши эксперты поделятся с вами советами по правильному уходу за вашей одеждой и обувью, чтобы сохранить их качество и долговечность.</li>
                <li><strong>Специальные предложения и скидки:</strong> Мы предлагаем различные специальные предложения и скидки для наших клиентов, чтобы сделать покупки ещё более приятными и выгодными.</li>
            </ul>
        </div>
    </div>

</div>


{% endblock %}
