{% extends "base.html" %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
<div class="col-md-9">
    <div class="content">
        <h1> {{ session["username"] }} </h1>
        <h2> Добро пожаловать в наш магазин {{ title }}</h2>
        <p>Изучите наш широкий ассортимент продукции:</p>
        <ul>
            {% for product in category['products'] %}
            <li>{{ product['name'] }} - Цена: ${{ product['price'] }}</li>
            {% endfor %}
        </ul>
        <p>Наш магазин специализируется на стильной одежде и аксессуарах для современных модниц.</p>
    </div>
</div>
{% endblock %}
