{%  extends 'base.html' %}

{% block title %}
{{ super() }} - {{ title }}
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-12 col-md-6 col-lg-4">
            <p> djfgdsgfdshgdsfhgkhsdfg</p>
        </div>
                <div class="col-12 col-md-6 col-lg-4">
            <p> 345465877iyhikjhkt7899857ihkytu9</p>
        </div>
        <div class="col-12 col-md-6 col-lg-4">
            <p> dghgghju76i9579iu6jhik6787iuhjk67rt87uiytjfyi678476j867iuyjr784j</p>
        </div>

    </div>
{% endblock %}
